.benefits {
    background-color: #f6f6f6;
    min-height: 470px;
    padding: 69px 0 78px 0;
    &__header {
        font-size: 30px;
        font-weight: 700;
        color: #0d0d0d;
        text-align: center;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
    }
    &__item {
        width: 247px;
        img {
            display: block;
            margin: 0 auto;
            width: 70px;
        }
    }
    &__subheader {
        margin-top: 38px;
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
        text-align: center;
    }    
    &__text {
        margin-top: 29px;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 300;
        color: #0d0d0d;
        text-align: center;
        span {
            text-decoration: underline;
            color: $main-color;
        }
    }
}